@import url(reset.css);
@import url(layout.css);
@import url(media.css);

body {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #47494e;
}
