@import url(reset.css);
@import url(layout.css);
@import url(media.css);

body {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #47494e;
}

/* side nav btns */
.slide-btn--left,
.slide-btn--right {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  cursor: pointer;
}

/* bottom nav div */
.slide-nav .dot {
  background-color: #fff;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 50%;
}

.slide-nav .dot:hover,
.slide-nav .active {
  opacity: 1;
}
