.carousel-container {
  position: relative;
  overflow: hidden;
}

.slides-wraper {
  display: flex;
  height: 100vh;
}

.slides-wraper img {
  min-width: 100%;
}

.slide-btn--left,
.slide-btn--right {
  position: absolute;
  height: 100%;
  width: 10%;
  top: 0px;
  z-index: 1;
}

.slide-btn--left {
  left: 0px;
}

.slide-btn--right {
  right: 0px;
}

.slide-btn--left i,
.slide-btn--right i {
  transform: translate(65%, -50%);
  position: absolute;
  top: 300px;
}

.slide-nav {
  position: absolute;
  bottom: 0px;
  left: 30%;
  /* transform: translate(70%, -50%); */
}

.slide-nav div {
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: translate(50%, -50%);
}

.slide-nav * + * {
  margin-left: 25px;
}

.slide-nav div:hover,
.slide-nav .active {
  opacity: 1;
}
